body{
	margin:1rem;	
}
.container-fluid{
	margin:0;
	padding:0;
	
}
.nav-link{
	border: 1px solid #ddd;
	padding:.25rem .5rem;
	margin-bottom: .5rem;
	text-align:center;
	user-select: none;
	white-space:nowrap;
}

.logsWrap{
	border: 1px solid #ddd;
	margin-bottom:20px;
	padding-left:1rem;
	padding-right:1rem;
	padding-top:0.5rem;
	min-height:500px;
}

.statusImageWrap {
	
	margin-bottom:20px;
	text-align: center;
}


.statusImage {
	width:100%;
	max-width: 1000px;
	border: 1px solid #ddd;
}

.holdingImage{
	text-align:center;
	margin:360px 0px;
}

.statusInfo{
	width:100%;
	text-align:center;
	min-height:2.25rem;
	padding-top:0.25rem;
	border:1px solid #ddd;
	margin-bottom:10px;
}


.statusInfo div{
	text-overflow: ellipsis;
	/*! overflow:hidden; */
	font-size:.9em;
}

.statusInfo div a {
	text-decoration: none;
	color: var(--bs-cyan);
	
}

.statusLog p{
	font-size:0.8rem;
}
.statusLog{
	width:100%;
}


#v-pills-tabContent{
	width:100%;
}

.settings{
	text-align: center;

}

.status{
	display:inline-block;
}


.settings .btn-sm{
	padding: 1px 10px;
	font-size:0.75rem;
	
}

.interval{
	font-size: 0.75rem;
	display:inline-block;
	
}

#createEditIdler form .row{
	border-bottom:1px solid #ddd;
	padding:10px 0px;
}

#createEditIdler .modal-dialog{
	max-width:750px;
}

#createEditIdler .modal-body{
	padding:0rem 1rem;
}

#createEditIdler label{

	user-select: none;
}

#createEditIdler .form-check-label{
	font-size: .875rem;
	vertical-align: super;
}

#createEditIdler .modal-footer {
	display:inline-block;

}

.logsWrap hr{
	margin:0.5rem 0px;

}

.alert{
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	top:46px;
	padding:2px 30px;
	z-index: 2000;
}

button:focus {

	box-shadow:none !important;
}
.alert-dismissible .btn-close{
	font-size: 8pt;
	padding:0.6rem;
}